<div class="row">
  <div class="col-lg-12 col1"></div>
</div>

<h1 class="text-center text-info">Administración</h1>

<div class="row">
  <div class="col-lg-12 col1"></div>
</div>

<div class="container mt-4 food2">
  <div class="row">
    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://static4.depositphotos.com/1008939/338/i/450/depositphotos_3389667-stock-photo-team.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title">
            <strong>Gestión de Roles</strong>
          </h4>
          <!-- Text -->
          <p class="card-text">Administración de los roles admitidos</p>
          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='gestion-roles'"
          >
            Generar
          </button>
        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st.depositphotos.com/1757635/3000/i/450/depositphotos_30007161-stock-photo-easy-business-management.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title">
            <strong>Gestión de Sucursales</strong>
          </h4>
          <!-- Text -->
          <p class="card-text">Administración de las diversas sucursales</p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='gestion-roles'"
          >
            Generar
          </button>

        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st3.depositphotos.com/10638998/16307/i/450/depositphotos_163075784-stock-photo-multicultural-businessmen-handshake.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Gestión de Trabajadores</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Administración de los trabajadores
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='ReportesComisiones'"
          >
            Generar
          </button>

        </div>
      </div>
      <!-- Card Regular -->
    </div>
  </div>
</div>

<div class="container mt-4 food2">
  <div class="row">
    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st4.depositphotos.com/12985790/21123/i/450/depositphotos_211239316-stock-photo-male-female-call-center-managers.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Gestión de Vendedores</strong></h4>
          <!-- Text -->
          <p class="card-text">Administración de los vendedores</p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='ReportesComisiones'"
          >
            Generar
          </button>

        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st3.depositphotos.com/12674628/17009/i/450/depositphotos_170091160-stock-photo-warehouse-workers-with-clipboard.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Gestión de Productos</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Administración de los diferentes productos
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='ReportesComisiones'"
          >
            Generar
          </button>

        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st3.depositphotos.com/1021974/13045/i/950/depositphotos_130457552-stock-photo-colored-map-with-mobile-phone.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Gestión de Rutas</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Administración de las rutas de reparto
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='ReportesComisiones'"
          >
            Generar
          </button>

        </div>
      </div>
      <!-- Card Regular -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col1"></div>
</div>

<h1 class="text-center text-info">Reportes</h1>

<div class="row">
  <div class="col-lg-12 col1"></div>
</div>

<div class="container mt-4 food2">
  <div class="row">
    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://cdn.pixabay.com/photo/2017/03/13/17/26/ecommerce-2140603_1280.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Productos más vendidos</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Genera un reporte de los 10 productos más vendidos
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='lista-'"
          >
            Generar
          </button>
        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st.depositphotos.com/1000128/3162/i/450/depositphotos_31625537-stock-photo-gps-navigation-travel-and-tourism.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Lista de reparto</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Genera un reporte de los productos que deben de entregarse en una
            ruta
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='lista-reparto'"
          >
            Generar
          </button>
        </div>
      </div>
      <!-- Card Regular -->
    </div>

    <div class="col-lg-4">
      <!-- Card Regular -->
      <div class="card card-cascade">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img
            class="card-img-top"
            src="https://st3.depositphotos.com/12982378/18499/i/450/depositphotos_184994962-stock-photo-courier-filling-cargo-declaration-cardboard.jpg"
            alt="Card image cap"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Paquetes entregados</strong></h4>
          <!-- Text -->
          <p class="card-text">
            Genera un listado de los paquetes entregados por fecha y repartidor
          </p>

          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='lista-entrega'"
          >
            Generar
          </button>
        </div>
      </div>
      <!-- Card Regular -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col1"></div>
</div>
