<div class="container">
    <div class="row fixed-top" style="background-color: #54ec7a">
        <div class="col-1">LOGO</div>
        <div class="col-6"></div>
        <div class="col-1"><a [routerLink]="['/client']">Tienda</a></div>
        <div class="col-1"><a [routerLink]="['/rastreo']">Rastreo</a></div>
        <div class="col-1"><a [routerLink]="['/my_car']">Mi Carrito</a></div>
        <div class="col-1"><a [routerLink]="['/profile']">Perfil</a></div>
        <div class="col-1"><a [routerLink]="['/']">Fin</a></div>
    </div>
    <br>

    <div class="row">
        <div class="card-body card-body-cascade text-center col-4 producto" *ngFor="let product of products">
            <!-- Title -->
            <h4 class="card-title">
              <strong>Nombre del producto</strong>
            </h4>
            <!-- Text -->
            <br><p><br> <abbr title='{{product.description}}'>{{product.name}}</abbr></p><br><p>Precio:<br>{{product.price}}</p><br>
            <button type="button"
            class="btn btn-primary"(click)="agregar(product.code)">
                Agregar a Mi Carrito
            </button>
        </div>
    </div>
</div>