<!-- Barra principal de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">TECBox</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-4"></div>
    <div class="col-1"><a [routerLink]="['/client']">Tienda</a></div>
    <div class="col-1"><a [routerLink]="['/rastreo']">Rastreo</a></div>
    <div class="col-1"><a [routerLink]="['/my_car']">Mi Carrito</a></div>
    <div class="col-1"><a [routerLink]="['/profile']">Perfil</a></div>
    <div class="col-1"><a [routerLink]="['/']">Fin</a></div>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-info my-2 my-sm-0"
          type="submit"
          routerLink="/login"
          routerLinkActive="active"
        >
          Buscar
        </button>
      </form>
    </div>
  </nav>

<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <br>
            <form (submit)="actualizar()">
                <br>
                <p>Nombre</p>
                <input type="text" name="name" [(ngModel)]="user.name">
                <br>
                <p>Apellidos</p>
                <input type="text" name="last" [(ngModel)]="user.last_Name">
                <br>
                <p>Dni: {{user.dni}}</p>
                <p>Correo electrónico</p>
                <input type="text" name="correo" [(ngModel)]="user.email">
                <br>
                <p>Casillero</p>
                <input type="text" name="casillero" [(ngModel)]="user.locker">
                <br>
                <p>Telefono Celular</p>
                <input type="text" name="celular" [(ngModel)]="user.phoneNumber">
                <br>
                <p>Telefono de la casa</p>
                <input type="text" name="casa" [(ngModel)]="user.house_PhoneNumber">
                <br>
                <p>Username</p>
                <input type="text" name="user" [(ngModel)]="user.user">
                <br>
                <p>Passward</p>
                <input type="text"name="pass" [(ngModel)]="user.password">
                <br>
                <br>
                <p>Direccion de entrega</p>
                <p>Provincia</p>
                <input type="text" name="provincia" [(ngModel)]="user.province">
                <p>Canton</p>
                <input type="text" name="canton" [(ngModel)]="user.canton">
                <p>Distrito</p>
                <input type="text" name="distrito" [(ngModel)]="user.district">
                <p>Otras señas</p>
                <input type="text" name="senas" [(ngModel)]="user.address">
                <br><br><br>
                <button>
                  Actualizar
                </button>
                <br>
              </form>
        </div>
    </div>
</div>
